/* #region globals, variables and imports */
@import 'reset.css';

/* #endregion  */

body {
  background-color: black;
  font-family: montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valid {
  background-color: green;
  color: white;
}

#field {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  width: 50%;
  height: 100%;
  margin-top: 10%;
}

#field div,
#field {
  border: 1px solid white;
}

#field div p {
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  user-select: none;
}
