/* #region globals, variables and imports */
@import 'reset.css';

/* #endregion  */

body {
  background-color: #424549;
  font-family: montserrat, sans-serif;
  color: white;
  padding-left: 25%;
  padding-right: 25%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid white;
  padding: 1rem;
  margin: 1rem 0rem;
}

select {
  color: white;
  text-align: right;
  background-color: #424549;
  padding: 0.5rem 0rem;
}

select:focus,
button:focus {
  outline: none;
}

select,
button {
  width: 30%;
  font-family: montserrat, sans-serif;
}

button {
  height: 2rem;
  border-radius: 1rem;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.valid {
  background-color: green;
}

#field {
  display: grid;
  /* width: 500px; */
  height: auto;
}

.three {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.five {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.bingofields {
  border: 1px solid white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingofields p {
  color: white;
  font-size: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  overflow-wrap: break-word;
  word-break: break-word;
}
