/* #region globals, variables and imports */
@import 'reset.css';

/* #endregion  */

body {
  font-family: montserrat;
}

.valid {
  background-color: green;
}

#field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#field div {
  border: 1px solid black;
}

#field div p {
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: left;
}

/* #region header */

/* #endregion */

/* #region nav */

/* #endregion  */

/* #region one  */

/* #endregion  */

/* #region two */

/* #endregion  */

/* #region three  */

/* #endregion  */

/* #region queries  */

/* #region screen  */

@media screen and (min-width: 1300px) {
}

/* #endregion  */

/* #region tablet  */

@media screen and (min-width: 769px) and (max-width: 1299px) {
}

/* #endregion  */

/* #endregion  */
